<header>
  <div class="inner">
    <div id="head-logo"><div id="head-logo-inside"></div></div>
    <div id="head-caption">
      <h1>DogeOS</h1>
      <h2>Very Smart - Many Zones - WoW! </h2>
      <div class="head-github-share">
        <a href="https://github.com/Project-DogeOS/DogeOS" class="button"><small style="width: 134px;">View project on </small>GitHub</a>
        <div class="share">
          <small>share: </small>
          <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.dogeos.net"><i class="fa fa-facebook-square fa-2x"></i></a>
          <a href="https://twitter.com/intent/tweet?text=http://www.stumbleupon.com/submit?url=http%3A%2F%2Fwww.dogeos.net"><i class="fa fa-twitter-square fa-2x"></i></a>
          <a href="http://www.reddit.com/submit?url=http://www.stumbleupon.com/submit?url=http%3A%2F%2Fwww.dogeos.net"><i class="fa fa-reddit-square fa-2x"></i></a>
          <a href="http://www.stumbleupon.com/submit?url=http://www.stumbleupon.com/submit?url=http%3A%2F%2Fwww.dogeos.net"><i class="fa fa-stumbleupon-circle fa-2x"></i></a>
        </div>
      </div>
    </div>
  </div>
</header>
