<p>Current release is <a href="https://github.com/Project-DogeOS/DogeOS/releases/tag/v20140501T225642Z-0.6.0">v20140501T225642Z-0.6.0</a>.</p>
<p>Integrated SmartOS version: 20140501T225642Z, FiFo version: v0.6.0.</p>

<div>
  <a data-real="http://www.ngo4.asia/dogeos/dogeos-20140501T225642Z-0.6.0.iso" href="http://bit.ly/1plfAjU" class="button dogeos-download-link">
    <small>Download</small>
    DVD ISO
  </a>
  <p class="dogeos-download-mirror">
    Mirrors:
    <a data-real="https://release.project-fifo.net/dogeos/dogeos-20140501T225642Z-0.6.0.iso" href="http://bit.ly/1rDKetO" title="Provided by Project-FiFo">EU</a> |
    <a data-real="http://www.ngo4.asia/dogeos/dogeos-20140501T225642Z-0.6.0.iso" href="http://bit.ly/1plfAjU">HK</a>
  </p>
  <p>&uarr; md5: <br> 9f31ab13e432ea52c142870a45eed7f2</p>
</div>

<div>
  <a data-real="http://www.ngo4.asia/dogeos/dogeos-20140501T225642Z-0.6.0.img.bz2" href="http://bit.ly/1n1ODGw" class="button dogeos-download-link">
    <small>Download</small>
    USB Img Zip
  </a>
  <p class="dogeos-download-mirror">
    Mirrors:
    <a data-real="https://release.project-fifo.net/dogeos/dogeos-20140501T225642Z-0.6.0.img.bz2" href="http://bit.ly/1sSYaSM" title="Provided by Project-FiFo">EU</a> |
    <a data-real="http://www.ngo4.asia/dogeos/dogeos-20140501T225642Z-0.6.0.img.bz2" href="http://bit.ly/1n1ODGw">HK</a>
  </p>
  <p>&uarr; md5: <br> 53bd1598adad1a6506499db80f772cb0</p>
</div>

<script>
  $(function() {
    // fix mobile view sidebar
    var isMobileView = $('div.mobile-indicator').css('display') === 'none';
    if (isMobileView) {
      // do nothing
    } else {
      $('aside#sidebar').floatingFixed({ padding: 20 });
    }
  });
</script>
