<section id="main-content" class="dogeos-wide-main-content">

<div>
<h1>How to Report Bugs</h1>
<p>It is a GitHub project. So click the top-left <a href="https://github.com/Project-DogeOS/DogeOS"><i class="fa fa-github fa-lg"></i> github link</a>, go there! </p>
</div>

<div>
<h1>How to Contribute</h1>
<p>You can fork the project or website or anything, do your hacking, and send pull request if you like. </p>
<p>Or if you just want some quick chat or say hello, it may help to join our IRC channel <a href="http://webchat.freenode.net/?channels=#dogeos"><i class="fa fa-comment fa-lg"></i> #dogeos</a>.</p>
<div>

</section>
