<section id="main-content">

<h1>How to Contribute & Report Bugs</h1>
<p>It is a GitHub project. So click the top-left <a href="https://github.com/Project-DogeOS/DogeOS"><i class="fa fa-github fa-lg"></i> github link</a>, go there! </p>
<p>Or if you just want some quick chat or say hello, it may help to join our IRC channel <a href="http://webchat.freenode.net/?channels=#dogeos"><i class="fa fa-comment fa-lg"></i> #dogeos</a>.</p>

</section>
