<section id="main-content" class="dogeos-wide-main-content">

<h1>Current Release</h1>
<p>Current release is <a href="https://github.com/Project-DogeOS/DogeOS/releases/tag/v20140501T225642Z-0.6.0">v20140501T225642Z-0.6.0</a>.</p>
<p>Integrated SmartOS version: 20140501T225642Z, FiFo version: v0.6.0.</p>

<div class="panel panel-default"><div class="panel-body">
  <dt>DVD ISO (md5: 9f31ab13e432ea52c142870a45eed7f2)</dt>
  <dd>Mirrors:
    <a data-real="https://release.project-fifo.net/dogeos/dogeos-20140501T225642Z-0.6.0.iso" href="http://bit.ly/1rDKetO" title="Provided by Project-FiFo">EU</a> |
    <a data-real="http://www.ngo4.asia/dogeos/dogeos-20140501T225642Z-0.6.0.iso" href="http://bit.ly/1plfAjU">HK</a>
  </dd>

  <dt>USB Img Zip (md5: 53bd1598adad1a6506499db80f772cb0)</dt>
  <dd>Mirrors:
    <a data-real="https://release.project-fifo.net/dogeos/dogeos-20140501T225642Z-0.6.0.img.bz2" href="http://bit.ly/1sSYaSM" title="Provided by Project-FiFo">EU</a> |
    <a data-real="http://www.ngo4.asia/dogeos/dogeos-20140501T225642Z-0.6.0.img.bz2" href="http://bit.ly/1n1ODGw">HK</a>
  </dd>
</div></div>

<h1>Previous Release</h1>

<h3><a href="https://github.com/Project-DogeOS/DogeOS/releases/tag/v20140501T225642Z-0.4.5">v20140501T225642Z-0.4.5</a></h3>
<div class="panel panel-default"><div class="panel-body">
  <dt>DVD ISO (md5: 0a0a9411cf4d73c3b0f1eb85c2fabff6)</dt>
  <dd>Mirrors:
    <a data-real="https://release.project-fifo.net/dogeos/dogeos-20140501T225642Z-0.4.5.iso" href="http://bit.ly/SD2MMd" title="Provided by Project-FiFo">EU</a>
    | <a data-real="http://www.ngo4.asia/dogeos-20140501T225642Z-0.4.5.iso" href="http://bit.ly/1mq91xk">HK</a>
  </dd>
  <dt>USB Img Zip (md5: 2020cbc532c56aa337b0b4b48caa3ce7)</dt>
  <dd>Mirrors:
    <a data-real="https://release.project-fifo.net/dogeos/dogeos-20140501T225642Z-0.4.5.img.gz" href="http://bit.ly/1jTi9vy" title="Provided by Project-FiFo">EU</a>
    | <a data-real="http://www.ngo4.asia/dogeos-20140501T225642Z-0.4.5.img.gz" href="http://bit.ly/1mq94cr">HK</a>
  </dd>
</div></div>

<h3><a href="https://github.com/Project-DogeOS/DogeOS/releases/tag/v20140501T225642Z-0.4.4">v20140501T225642Z-0.4.4</a></h3>
<div class="panel panel-default"><div class="panel-body">
  <dt>DVD ISO (md5: a5ba43254422f406e5a2e6008c52e5cd)</dt>
  <dd>Mirrors:
    <a data-real="https://release.project-fifo.net/dogeos/dogeos-20140404T001635Z-0.4.4.iso" href="http://bit.ly/1jzrbxv" title="Provided by Project-FiFo">EU</a>
    | <a data-real="http://www.ngo4.asia/dogeos-20140404T001635Z-0.4.4.iso" href="http://bit.ly/Sd2tYe">HK</a>
  </dd>
  <dt>USB Img Zip (md5: 445e90315f4f5138ede5542a8b9c1678)</dt>
  <dd>Mirrors:
    <a data-real="https://release.project-fifo.net/dogeos/dogeos-20140404T001635Z-0.4.4.img.gz" href="http://bit.ly/1qRY0K8" title="Provided by Project-FiFo">EU</a>
    | <a data-real="http://www.ngo4.asia/dogeos-20140404T001635Z-0.4.4.img.gz" href="http://bit.ly/1lXKKOP">HK</a>
  </dd>
</div></div>

</section>
