<section id="main-content">

<h1>
  <a name="about-dogeos" class="anchor" href="#about-dogeos"><span class="octicon octicon-link"></span>
  </a>Ultimate Cloud OS for Data Center</h1>
<p>
  <iframe src="slides/intro/index.html?embedded=true" width="100%" height="360"></iframe>
  <small><a href="slides/intro/index.html" target="_blank">[Open this slide in new window]</a></small>
</p>
<p>DogeOS is a distribution based on
   <a href="http://www.smartos.org">SmartOS</a> and <a href="https://project-fifo.net">FIFO project</a>.
   It is made to be the ultimate cloud OS for data center.
</p>
<ul>
  <li>All industry proven features of SmartOS: ZFS, Dtrace, KVM, Zones and Crossbow.</li>
  <li>Ready-to-use management console from FIFO.</li>
  <li>Nearly 100% resource utilization of hardware.</li>
  <li>No installation time for Resource Node (a.k.a chunter node).</li>
  <li>Guided, fast (&lt; 10min) provision of the first FiFo (management) zone, and works even without Internet access.</li>
</ul>

<p>DogeOS is, as similar to Project FiFo and SmartOS, licensed under <a href="http://smartos.org/cddl/">CDDL</a>. It is free to use.</p>

<hr>

<h1>Try DogeOS now!</h1>
<p>
<ul>
  <li>Click the links in the right sidebar to download the DogeOS release ISO/USB Image.
  <li>Burn the ISO to DVD or write the USB Image to USB stick.
  <li>Boot your metal box or virtual box VM to try it.
  <li>More details could be find in the <a href="/doc/index.html">documentation</a>.
</ul>
</p>

</section>

<aside id="sidebar">
  <%- partial('_release_sidebar') %>
</aside>
