dt {
  font-weight: bold;
}

dd {
  padding-left: 20px;
}

.dogeos-navigation {
  text-align: left;
  margin: 0px auto;
  width: 940px;
}

@media only screen and (max-width: 767px) {
  .dogeos-navigation {
    width: 98%;
  }
  .dogeos-navigation li {
    font-size: 14px !important;
  }
}

.dogeos-navigation ul {
  padding-left: 0px;
  border: 1px solid #ccc;
  border-top: 0px;
  margin-bottom: 0px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  background-color: white;
}

.dogeos-navigation li {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 8px;
  font-size: 24px;
}

.dogeos-navigation li.active {
  border-bottom: 2px solid #ccc;
}

.dogeos-navigation li a:hover {
  text-decoration: none;
}

.dogeos-download-link {
  margin-bottom: 0px !important;
}
.dogeos-download-mirror {
  width: 202px;
  margin-bottom: 8px;
  margin-top: -2px;
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-top: 0px;
  border-radius: 0px 0px 4px 4px;
  z-index: 5;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.dogeos-tabpane {
  background-color: #fff;
  padding: 20px 20px;
}
.dogeos-tabcontent {
  border: 1px solid #ddd;
  border-top: 0px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px;
}
